<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BeandBe.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.BeandBe.ui.fragment.Forum"
            android:label="@string/title_activity_forum"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.BeandBe.ui.fragment.Dons"
            android:label="@string/title_activity_dons"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.BeandBe.ui.fragment.Mapping"
            android:label="@string/title_activity_mapping"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DetailA"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
